/*
 * This sheet provides styles for the Notification module. The displayed distance 
 * from the bottom of the page can be altered by a variable. Requires the html body to
 * display flex and justify contents center. 
 */

@property --deg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.notify {
    position: absolute;
    width: clamp(22rem, auto, 28rem);
    bottom: var(--notify-distance-from-bottom, 2.5rem); /*Can set variable distance from bottom of page.*/
    z-index: 1000;
    font-weight: 600;
    border-radius: 0.75rem;
    animation: 
        fade-in 3s ease-in-out,
        notify-border 2s linear infinite;
    transform: translateY(4rem);
    padding: 0.25rem;
    background-image: conic-gradient(from var(--deg), var(--notify-0), var(--notify-20), var(--notify-40), var(--notify-20), var(--notify-0));
    visibility: hidden;
    opacity: 0;
}
.notify.success {
    --notify-0:#48c774;
    --notify-20: #3a9f5d;
    --notify-40: #2b7746;
}
.notify.information {
    --notify-0: #3CBEFF;
    --notify-20: #3098cc;
    --notify-40: #247299;
}
.notify.error {
    --notify-0: #FF3939;
    --notify-20: #cc2e2e;
    --notify-40: #992222;
}
.notify-body {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--brand-light-blue, #EBF8FF);
    color: var(--background-color);
}
@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes notify-border {
    from {
        --deg: 0deg;
    }
    to {
        --deg: 360deg
    }
}